/*Made by Daniel Nogueira(daniel@leafcomputer.com.br or danielnogueira97@gmail.com)*/
@font-face { font-family: Geo; src: url('Geosans.ttf'); } 

#title
{
-webkit-user-select:none;
-moz-user-select:none;
-o-user-select:none;
-ms-user-select:none;
cursor:default;
-webkit-transition:all 1.5s;
-moz-transition:all 1.5s;
-o-transition:all 1.5s;
-ms-transition:all 1.5s;
font-family: Geo;
font-size:72;
opacity:0;
text-align:center;
position:fixed;
top:60%;
left:0px;
right:0px;
margin-top:-42.5px;
color:#aaa;
-webkit-transform-style: preserve-3d;
}

#Join{
-webkit-user-select:none;
-moz-user-select:none;
-o-user-select:none;
-ms-user-select:none;
-webkit-appearance:none;
-moz-appearance:none;
-o-appearance:none;
-ms-appearance:none;
-webkit-transition:all 1.5s;
-moz-transition:all 1.5s;
-o-transition:all 1.5s;
-ms-transition:all 1.5s;
color:#aaa;
border:none;
background:none;
font-family:Geo;
font-size:36;
position:fixed;
width:309px;
top:60%;
left:50%;
text-align:center;
outline:none;
opacity:0;
margin-left:-154.5px;
}

.logininput{
-webkit-transition:all 1.5s;
-moz-transition:all 1.5s;
-o-transition:all 1.5s;
-ms-transition:all 1.5s;
-webkit-appearance:none;
-moz-appearance:none;
-o-appearance:none;
-ms-appearance:none;
font-family:Geo;
font-size:36;
border:none;
background:none;
color:#aaa;
position:fixed;
top:60%;
left:50%;
margin-left:-154.5px;
width:309px;
text-align:center;
outline:none;
opacity:0;
}

#Chat{
-webkit-transition:all 1.5s;
-moz-transition:all 1.5s;
-o-transition:all 1.5s;
-ms-transition:all 1.5s;
opacity:0;
position:fixed;
top:0px;
left:0px;
height:100%;
overflow-y:hidden;
overflow-x:hidden;
width:100%;
z-index:10;
-webkit-transform-style: preserve-3d;
}

#msgcontainer
{
-webkit-transition:all 1.5s;
-moz-transition:all 1.5s;
-o-transition:all 1.5s;
-ms-transition:all 1.5s;
position:fixed;
top:0px;
left:0px;
bottom:2cm;
right:0px;
-webkit-overflow-scrolling: touch;
overflow:auto;
}

#Connect
{
-webkit-transition:all 1.5s;
-moz-transition:all 1.5s;
-o-transition:all 1.5s;
-ms-transition:all 1.5s;
position:fixed;
top:0;
left:0;
bottom:0;
right:0;
z-index:100;
opacity:1;
}

#msgcomposer
{
-webkit-transition:all 1.5s;
-moz-transition:all 1.5s;
-o-transition:all 1.5s;
-ms-transition:all 1.5s;
position:fixed;
width:100%;
height:2cm;
bottom:0px;
z-index:50;
-webkit-appearance:none;
border:none;
background:#eee;
font-family:Geo;
font-size:32;
color:#aaa;
outline:none;
z-index:75;
}

#msgcomposer:active
{
background:#ddd;
}

#UploadFilesContainer{
	position:fixed;
	top:0px;
	right:0px;
	width:5cm;
	max-height:-webkit-calc(100% - 2cm);
	-webkit-overflow-scrolling: touch;
}

.UploadFile{
	float:right;
	height:3cm;
	background-color:#ccc;
	color:#fff;
	font-family:Geo;
	font-size:28;
	margin:10px;
}

.FileUploadBtn{
-webkit-user-select:none;
-moz-user-select:none;
-o-user-select:none;
-ms-user-select:none;
-webkit-appearance:none;
-moz-appearance:none;
-o-appearance:none;
-ms-appearance:none;
-webkit-transition:all 1.5s;
-moz-transition:all 1.5s;
-o-transition:all 1.5s;
-ms-transition:all 1.5s;
color:#fff;
border:none;
background:none;
font-family:Geo;
font-size:36;
position:fixed;
outline:none;

}

.Date{
font-family:geo;
font-size:28;
color:#aaa;
}

.Sender{
font-family:geo;
font-size:28;
color:#ccc;
}

.LaMensaje{
font-family:geo;
font-size:30;
color:#aaa;
}